# Virtual environemnt
venv/
.env

# Terraform
.terraform/
.terraform.tfstate.lock.info

# State files (critical - never commit)
terraform.tfstate
terraform.tfstate.backup
*.tfstate
*.tfstate.backup

# tfplan files (optional, but good to ignore)
*.tfplan

# tfvars with secrets (if you have them)
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.patch
*.bak

# others
.DS_Store
tools/logs/
vllm-src
GROK.md
